$primaryColor:#75C448;
$primaryTextColor:#ffffff;
$primaryDarkColor:#33A54D;
$inputFocusBorderColor:#C1E77E;
$highlightBgColor:#F88937;
$highlightTextColor:#ffffff;
$datableEvenRowBgColor:#fdfafc;
$datatableHoverBgColor:#e3e1e2;

@import '../sass/theme/_theme';