$sidebarTopStartBgColor:#184e68;
$sidebarTopEndBgColor:#4FC27D;
$sidebarAnchorColor:#ffffff;
$menuitemActiveColor:#4FC27D;
$rootMenuitemActiveIconColor:#ffffff;
$menuitemBadgeBgColor:#E0608A;
$menuitemBadgeTextColor:#ffffff;
$horizontalLayoutTopbarTextColor:#CDEAD8;
$horizontalLayoutTopbarTextHoverColor:#ffffff;

@import '../../sass/layout/_layout';